*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg,rgb(200, 214, 91),rgb(103, 238, 91));
}
.todobox{
  height: 132px;
  width: 400px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 4px;
  padding-top: 4px;
  

}
.todoitem{
  display: flex;
  gap: 10px;
  
}
.todoitem input{
  height: 40px;
  width: auto;
  padding-left: 8px;
  border-radius: 8px;
  border: none;
  outline: 1px inset red;
}

.todoitem button{
  height: 40px;
  width: 98px;
  background-color: rgb(51, 111, 222);
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 18px;
}
.todoitem button:hover{
  background-color: blue;
  outline: 1px inset rgb(240, 229, 229);
}

.container{
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 600px;
  padding-top: 40px;
}  