
.taskbox{
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  

}
.taskbox :nth-child(1){
  flex: 50%;
}
.taskbox button{
  height: 40px;
  width: 98px;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 18px;
}
.taskbox input{
  height: 40px;
  width: auto;
  padding-left: 8px;
  border-radius: 8px;
  border: none;
  outline: 1px inset red;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}
.taskbox h2{
  overflow: hidden;
  white-space: nowrap;
}